* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;

}

.section {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: black;
}

.header {
    top: 0%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

.header-menu a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    margin-left: 27px;
    text-decoration: none;
}

#Welcome {
    background-color: black;
}

.welcome_content {
    background-color: black;
    height: 842px;
    width: 100%;
    display: flex;
    position: relative;
}

.image_head img {
    height: 750px;
    position: absolute;
    right: 0%;
    z-index: 1;

}

.welcome_text {
    height: 180px;
    min-width: 396px;
    margin-left: 20px;
    margin-top: 50px;
    z-index: 2;

}

.welcome_text h1 {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.welcome_text h3 {
    margin-top: 25px;
    margin-left: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 2px;
    color: #FFFFFF;
    z-index: 9999;
}

.welcome_button {
    position: absolute;
    margin-left: 0px;
    margin-top: 75px;
    background: #710707;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
    color: #FFFFFF;
    padding: 25px;
    padding-left: 64px;
    text-decoration: none;
    cursor: pointer;

}

#Visiting {
    background-color: white;
    Width: 1440px;
    Height: 1000px;
    flex-wrap: wrap;

}

.visitung_head {
    height: 100px;
    border-bottom: 3px solid #710707;

}

.visitung_head p {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #9D8665;
    margin-top: 75px;
    margin-bottom: 25px;
}

.visiting_gallery {
    margin: 25px 0px;
    display: grid;
    grid-template-areas:
        "img_1 img_2 img_3"
        "img_4 img_5 img_6";
    grid-gap: 30px;
    align-items: center;
}

h4 {
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 25px;
    margin-bottom: 10px;
}

/* .img_1 {
    grid-area: img_1;
} */

.img_1, .img_2, .img_3, .img_4, .img_5, .img_6, p{
    margin-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 23px;
    color: #000000;

}

.img_2 {
    grid-area: img_2;

}

.img_3 {
    grid-area: img_3;

}

.img_4 {
    grid-area: img_4;

}

.img_5 {
    grid-area: img_5;

}

.img_6 {
    grid-area: img_6;
}

#Explore {
    background-color: black;
    Width: 100%;
    Height: 865px;
    border: 1px solid white;

}

.explore_content {
    background-color: black;
    Width: 1440px;
    Height: 100%;
    display: flex;
    position: relative;
    
}
.explore_info h3{
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 75px;
    margin-bottom: 25px;
    }

.explore_info p{
    font-family: Roboto;
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 38px;
color: #FFFFFF;

}

.explore_img{
    margin-top:75px;
    margin-left: 60px;
    position: relative;
        
}

/* .explore_slider {
    margin-right: 50px;
    position: absolute;
   /* z-index: 1; 
 } 
*/
 #Video {
    background-color: white;
    Width: 1440px;
    Height: 1396px;
    margin-left: 240px;
    border: 1px solid black;
 }

 .video_1{
    align-items: center;
    margin-top: 240px;
 }

 #Gallery {
    background-color: black;
    Width: 100%;
    Height: 2200px;
    border: 1px solid white;

}

.gallery_content {
    background-color: black;
    Width: 1440px;
    display:block;
    position: relative;

    
}


.name_gallery{
    width: 518px;
    height: 90px;
    margin: 75px 0px;
    background-image: url('./img/Art\ Gallery.svg');
    background-repeat: no-repeat;
}

.gallery_pictures{
    margin-top: -10px;
    width: 100%;
    width: 1440px;
    -webkit-column-count: 3;
    -webkit-column-gap: 36px;
}

.gallery_pictures img{
    -webkit-column-break-inside: avoid;
    width: 456px;
    margin: 12px 0px;
}
    



